button {
  font-size: 20px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(2n+1) {
  background-color: #818589;
}
