* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: black;
}

div {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: grey;
}
